body{
    font-family: sans-serif; 
 }
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     scroll-behavior: smooth;
 }
 /*-------------------Header-------------------*/
 .header{
     background-color: #181A1C;
     padding: 24px 160px;
 }
 .container{
     max-width: 1595px;
     margin: 0 auto;
 }
 .wrapper{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .navigation a {
     text-decoration: none;
     color: white;
 }
 .li{
     font-size: 20px;
     margin-right: 45px;
     font-family: 'Titillium Web', sans-serif;
     font-weight: 700;
     text-transform: uppercase;
     font-style: bold;
 }
 .li:hover{
     color: #E9C12B;
     transition: 0.3s;
 }
 .button-navigation{
     display: flex;
     justify-content: flex-end; 
     position: fixed;
     right: 30px;
     bottom: 28%;
 }
 .scroll-bar{
     width: 60px;
     height: 60px;
     padding: 0;
     margin: 0;
     background-color:transparent;
     cursor: pointer;
 }
 /*-------------------Responsive-------------------*/
 .responsive{
     background-color: #FECE1A;
     display: flex;
     padding-top: 75px;
     padding-bottom: 75px;
 }
 .resp-wrapper{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .left-arrow{
     cursor: pointer;
 }
 .discription{
     margin-right: 155px;
     margin-left: 20px;
 }
 .title h1{
     font-family: 'Roboto', sans-serif;
     font-weight: 700;
     font-size: 50px;
     margin-bottom: 25px;
 }
 .sub-title{
     font-family: 'Titillium Web', sans-serif;
     font-weight: 600;
     font-size: 20px;
     color: white;
     margin-bottom: 30px;
 }
 button{
     font-size: 24px;
     padding: 14px 70px;
 }
 .button-read-more{
     font-weight: bold;
     font-weight: 600px;
     border: black 3px solid;
     background-color: transparent;
     cursor: pointer;
 }
 .button-read-more:hover{
     background-color: black;
     color: white;
     transition: 0.3s;
 }
 .phone{
     margin-right: 20px;
 }
 .right-arrow{
     cursor: pointer;
 }
 /*-------------------Services-------------------*/
 .services{
     background-color: #2F3238;
     padding-top: 50px;
     padding-bottom: 50px;
 }
 .services-wrapper{
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 .Serv{
     text-align: center;
 }
 .title-serv{
     text-align: center;
     margin-bottom: 20px;
 }
 .title-serv h2{
     font-size: 46px;
     text-transform: uppercase;
     color: white;
 }
 .sub-title-serv{
     font-size: 26px;
     color: #FECE1A;
     margin-bottom: 40px;
 }
 .feature{
     display: flex;
     justify-content: space-between;
     text-align: center;
 }
 .design{
     margin-right: 185px;
 }
 .clean-code{
     margin-right: 185px;
 }
 .logo-des{
     margin-bottom: 15px;
 }
 .logo-clean{
     margin-bottom: 15px;
 }
 .logo-seo{
     margin-bottom: 15px;
 }
 .name-des{   
     color: #FECE1A;
     text-transform: uppercase;
     font-weight: bold;
     margin-bottom: 15px;
 }
 .name-clean{
     color: #FECE1A;
     text-transform: uppercase;
     font-weight: bold;
     margin-bottom: 15px;
 }
 .name-seo{
     color: #FECE1A;
     text-transform: uppercase;
     font-weight: bold;
     margin-bottom: 15px;
 }
 .sub-des{
     font-size: 18px;
     font-weight: 600;
     font-family: 'Titillium Web', sans-serif;
     color:white;
 }
 .sub-clean{
     font-size: 18px;
     font-weight: 600;
     font-family: 'Titillium Web', sans-serif;
     color:white;
 }
 .sub-seo{
     font-size: 18px;
     font-weight: 600;
     font-family: 'Titillium Web', sans-serif;
     color:white;
 }
 /*-------------------About-------------------*/
 .about{
     background-color: #292C31;
     padding-top: 50px;
     padding-bottom: 50px;
 }
 .Abo{
     text-align: center;
 }
 .title-about{
     text-align: center;
     margin-bottom: 20px;
 }
 .title-about h2{
     font-size: 46px;
     text-transform: uppercase;
     color: white;
 }
 .sub-title-about{
     font-size: 26px;
     color: #FECE1A;
     margin-bottom: 40px;
 }
 .celebrities{
     display: flex;
     justify-content: center;
 }
 .john{
     margin-right: 88px;
 }
 .george{
     margin-right: 88px;
 }
 .logo-john{
     margin-bottom: 15px;
 }
 .logo-george{
     margin-bottom: 15px;
 }
 .logo-bob{
     margin-bottom: 15px;
 }
 .name-john{   
     color: #FECE1A;
     text-transform: uppercase;
     font-weight: bold;
     margin-bottom: 15px;
 }
 .name-george{
     color: #FECE1A;
     font-weight: bold;
     margin-bottom: 15px;
 }
 .name-bob{
     color: #FECE1A;
     font-weight: bold;
     margin-bottom: 15px;
 }
 .sub-john{
     font-size: 20px;
     font-weight: 400;
     font-family: 'Titillium Web', sans-serif;
     color:white;
     margin-bottom: 56px;
 }
 .sub-george{
     font-size: 20px;
     font-weight: 400;
     font-family: 'Titillium Web', sans-serif;
     color:white;
     margin-bottom: 56px;
 }
 .sub-bob{
     font-size: 20px;
     font-weight: 400;
     font-family: 'Titillium Web', sans-serif;
     color:white;
     margin-bottom: 56px;
 }
 .social{
     display: flex;
     justify-content: flex-start;
 }
 .Facebook{
     cursor: pointer;
     margin-right: 20px;
 }
 .Facebook:hover path{
     fill: white;
     transition: 0.3s;
 }
 .Telegram{
     cursor: pointer;
     margin-right: 20px;
 }
 .Telegram:hover path{
     fill: blue;
     transition: 0.3s;
 }
 .Instagram{
     cursor: pointer;
 }
 .Instagram:hover path{
     fill: red;
     transition: 0.3s;
 }
 /*-------------------Our Skills-------------------*/
 .our-skills{
     background-color: #2F3238;
     padding-top: 50px;
 }
 .our-skills-wrapper{
     text-align: center;
 }
 .title-our-skills{
     text-align: center;
     margin-bottom: 20px;
 }
 .title-our-skills h2{
     font-size: 46px;
     text-transform: uppercase;
     color: white;
 }
 .sub-title-our-skills{
     font-size: 26px;
     color: #FECE1A;
     margin-bottom: 40px;
 }
 .skills{
     display: flex;
     text-align: center;
     flex-direction: column;
     align-items: center;
 }
 .skills-one{
     display: flex;
 }
 .skills-two{
     display: flex;
 }
 .html{
     margin-right: 200px;
     margin-bottom: 75px;
 }
 .css{
     margin-right: 180px;
     margin-bottom: 75px;
 }
 .sass{
     margin-right: 180px;
     margin-bottom: 75px;
 }
 .javascript{
     margin-bottom: 75px;
 }
 .react{
     margin-left: -30px;
     margin-right: 170px;
     margin-bottom: 75px;
 }
 .bootstrap{
     margin-right: 160px;
     margin-bottom: 75px;
 }
 .git{
     margin-right: 225px;
     margin-bottom: 75px;
 }
 .figma{
     margin-bottom: 75px;
     
 }
 .skills h3{
     text-transform: uppercase;
     color: white;
     font-family: 'Titillium Web', sans-serif;
     font-weight: 700;
     font-size: 24px;
 }
 .skills img{
     margin-bottom: 15px;
 }
 /*-------------------Contact-------------------*/
 .contact{
     background-color: #2F3238;
     padding-top: 100px;
     padding-bottom: 50px;
 }
 .contant-wrapper{
     text-align: center;
 }
 .Cont{
     text-align: center;
 }
 .title-contact{
     text-align: center;
     margin-bottom: 20px;
 }
 .title-contact h2{
     font-size: 46px;
     text-transform: uppercase;
     color: white;
 }
 .sub-title-contact{
     font-size: 26px;
     color: #FECE1A;
     margin-bottom: 40px;
 }
 .review-wrapper{
     display: flex;
     justify-content: center;
 }
 .form{
     display: flex;
     flex-direction: column;
     margin-right: 155px;
 }
 .review{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
 }
 .input{
     font-size: 22px;
     font-weight: 400;
     font-family: 'Titillium Web', sans-serif;
     width: 790px;
     padding-bottom: 10px;
     padding-left: 20px;
     padding-top: 10px;
     color: #6F6F6F;
     background: #292C31;
     border: none;
     margin-bottom: 10px;
 }
 .textarea-message{
     font-size: 22px;
     font-weight: 400;
     font-family: 'Titillium Web', sans-serif;
     width: 790px;
     padding-bottom: 272px;
     padding-left: 20px;
     padding-top: 10px;
     color: #6F6F6F;
     background: #292C31;
     border: none;
     margin-bottom: 10px;
     resize: none;
 }
 .button-send-mail{
     font-family: 'Titillium Web', sans-serif;
     font-weight: 400;
     font-size: 24px;
     background-color: #6F6F6F;
     cursor: pointer;
     margin-top: 35px;
 }
 .button-send-mail:hover{
     transition: 0.3s;
     background-color: #FFE892;
     cursor: pointer;
 }
 .details{
     display: flex;
     flex-direction: column;
 }
 .name-details{
     font-family: 'Roboto', sans-serif;
     text-transform: uppercase;
     color: white;
     font-weight: 700;
     font-size: 30px;
     margin-bottom: 20px;
 }
 .mail-details{
     color: #6F6F6F;
     font-weight: 600;
     font-family: 'Titillium Web', sans-serif;
     font-size: 24px;
     margin-bottom: 20px;
 
 }
 .phone-details{
     color: #6F6F6F;
     font-weight: 600;
     font-family: 'Titillium Web', sans-serif;
     font-size: 24px;
     margin-bottom: 20px;
 }
 .adres{
     color: #6F6F6F;
     font-weight: 600;
     font-family: 'Titillium Web', sans-serif;
     font-size: 24px;
 }
 .mail-details a{
     text-decoration: none;
     color: #6F6F6F;
 }
 .phone-details a{
     text-decoration: none;
     color: #6F6F6F;
 }
 .mail-details a:hover{
     color:#FFE892;
     transition: 0.3s;
 }
 .phone-details a:hover{
     color:#FFE892;
     transition: 0.3s;
 }
 /*-------------------Footer-------------------*/
 .footer{
     background-color:#292C31;
 }
 .contanier-footer{
     max-width: 245px;
     margin: 0 auto;
 }
 .made{
     color: white;
     text-align: center;
 }